*.pyc
env/
.idea/
SpreadLabs/media/backgrounds/*.jpg
SpreadLabs/media/icos/*.jpg
SpreadLabs/media/pattern/*.jpg
SpreadLabs/media/image_links/*.jpg
SpreadLabs/media/image_links/*.png
SpreadLabs/static/CACHE/
local/settings.py
