Django==1.7.3
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.7.0
Unidecode==0.04.17
awesome-slugify==1.6.1
boto==2.35.2
django-appconf==0.6
django-compressor==1.4
django-nvd3==0.7.2
django-ses==0.7.0
facepy==1.0.6
psycopg2==2.5.4
python-dateutil==2.4.0
python-nvd3==0.12.1
python-slugify==0.0.9
regex==2014.12.24
requests==2.5.1
six==1.9.0
ua-parser==0.3.6
user-agents==0.3.1
wsgiref==0.1.2
