{% extends "basev1.html" %}
{% load admin_static %}
{% load nvd3_tags %}
{% block title %}Dashboard{% endblock %}
{% block breadcrumbs %}
	<li><a href="{% url 'dashboard:index' %}" title="Dashboard">Dashboard</a></li>
	<li><a href="{% url 'stats:index' %}" title="Estadísticas">Estadísticas</a></li>
	<li><a href="{% url 'stats:campaign' campaign.id %}" title="{{ campaign.name }}">{{ campaign.name }}</a></li>
	<li><a href="{% url 'stats:campaign_system' campaign.id %}" title="Sistema">Sistema</a></li>
{% endblock %}
{% block extrahead %}
    {% include_chart_jscss %}
    {% load_chart "pieChart" chartdata_touch "piechart_chartdata_touch" extra %}
    {% load_chart "pieChart" chartdata_resolution "piechart_chartdata_resolution" extra %}
    {% load_chart "pieChart" chartdata_flash "piechart_chartdata_flash" extra %}
    {% load_chart "pieChart" chartdata_color "piechart_chartdata_color" extra %}
    {% load_chart "pieChart" chartdata_java "piechart_chartdata_java" extra %}
    {% load_chart "pieChart" chartdata_silverlight "piechart_chartdata_silverlight" extra %}
<script>
$(function() {
	//load main graph
	$("#main_chart").load("{% url 'stats:extended:main_campaign_system' campaign.id %}");

    $('.ch-info .views').each(function(index, element) {
    	child = $(element).find('div');
        child.css('font-size', '1em');
        while( child.height() > $(element).height() ) {
            child.css('font-size', (parseInt(child.css('font-size')) - 1) + "px" );
        }
    });
    
    // Fix miss clicks
    $('.campaing_a').mousedown(function(e) {
    	window.location.href = $(this).attr('href');
    });
});
</script>    
    
{% endblock %}
{% block content %}

<div id="main_extra_head">
    <div id="main_chart" class="loading">
	    <img class="load" border="0" src="{{ STATIC_URL }}images/v1/loading.gif">
    </div>
    <div class="menu" id="sub_menu">
        {% include "stats/menus/campaign.html" %}
    </div>
    <div class="clear"></div>
</div>
<div id="global_data_div">
	{% for k, v in sorted_resolutions.items %}
	<div class="submenu_item_five"><div class="number_submenu">{{ v }}</div><div class="text_submenu">{% if k == "NonexNone" %}Desconocida{% else %}{{ k }}{% endif %}</div></div>
    {% endfor %}
</div> 
<div id="body_content">
    <h1>Aplicaci{{ active_apps|length|pluralize:"ón,ones" }} activa{{ active_apps|length|pluralize }}</h1>
				<ul class="ch-grid-apps">
        {% for active_app in active_apps %}
            {% if not domain.app == active_app %}
					<li>
						<div class="ch-item" style="background-image: url('{{ MEDIA_URL }}{{ active_app.picture }}'); background-size:158px 100px;">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front" style="background-image: url('{{ MEDIA_URL }}{{ active_app.picture }}'); background-size:158px 100px;"></div>
									<div class="ch-info-back">
                                        <a href="{% url 'stats:app_system' active_app.id %}">
                                            <ul class="mini-menu">
        										<div class="views">Ver</div>
		        								<p>detalle</p>
                                            </ul> 
    										<img src="{{ MEDIA_URL }}{{ active_app.picture }}" width="158" height="100">
	    								</a>
									</div>	
								</div>
							</div>
						</div>
						<div class="name">{{ active_app.name }}</div>
					</li>
    	    {% endif %}
        {% endfor %}
	</ul>
    </br>

{% if inactive_apps %}
    <h1>Aplicaci{{ inactive_apps|length|pluralize:"ón,ones" }} inactiva{{ inactive_apps|length|pluralize }}</h1>
	<ul class="ch-grid-apps">
        {% for inactive_app in inactive_apps %}
					<li>
						<div class="ch-item" style="background-image: url('{{ MEDIA_URL }}{{ inactive_app.picture }}'); background-size:158px 100px;">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front" style="background-image: url('{{ MEDIA_URL }}{{ inactive_app.picture }}'); background-size:158px 100px;"></div>
									<div class="ch-info-back">
                                        <a href="{% url 'stats:app_system' inactive_app.id %}">
                                            <ul class="mini-menu">
        										<div class="views">Ver</div>
		        								<p>detalle</p>
                                            </ul> 
    										<img src="{{ MEDIA_URL }}{{ inactive_app.picture }}" width="158" height="100">
	    								</a>
									</div>	
								</div>
							</div>
						</div>
						<div class="name">{{ inactive_app.name }}</div>
					</li>
        {% endfor %}
	</ul>
    </br>
<div class="clear"></div>
{% endif %}
</div>   

<div>
    <div class="three_blocks">
        <h1>Pantalla táctil</h1>
        {% include_container "piechart_chartdata_touch" 300 '100%'%}
        </br></br>
    </div>
    <div class="three_blocks">
        <h1>Resolución de pantalla</h1>
        {% include_container "piechart_chartdata_resolution" 300 '100%'%}
    </div>
    <div class="three_blocks">
        <h1>Soporte flash</h1>
        {% include_container "piechart_chartdata_flash" 300 '100%' %}
    </div>
    </br></br>
    <div class="clear"></div>
</div> 

<div class="zebra">
    <div class="three_blocks">
        <h1>Soporte Java</h1>
        {% include_container "piechart_chartdata_java" 300 '100%' %}
    </div>
    <div class="three_blocks">
        <h1>Soporte Silverlight</h1>
        {% include_container "piechart_chartdata_silverlight" 300 '100%' %}
    </div>
    <div class="three_blocks">
        <h1>Profundidad de color</h1>
        {% include_container "piechart_chartdata_color" 300 '100%' %}
    </div>
    <div class="clear"></div>
</div>
{% endblock %}