{% extends "basev1.html" %}
{% load admin_static %}
{% load nvd3_tags %}
{% block title %}Dashboard{% endblock %}
{% block breadcrumbs %}
	<li><a href="{% url 'dashboard:index' %}" title="Dashboard">Dashboard</a></li>
	<li><a href="{% url 'stats:index' %}" title="Estadísticas">Estadísticas</a></li>
	<li><a href="{% url 'stats:environment' %}" title="Ambiente">Ambiente</a></li>
{% endblock %}
{% block extrahead %}
    {% include_chart_jscss %}
    {% load_chart "pieChart" chartdata_os "piechart_os_container" extra %}
    {% load_chart "pieChart" chartdata_browsers "piechart_chartdata_browsers" extra %}
    {% load_chart "pieChart" chartdata_chrome "piechart_chartdata_chrome" extra %}
    {% load_chart "pieChart" chartdata_firefox "piechart_chartdata_firefox" extra %}
    {% load_chart "pieChart" chartdata_safari "piechart_chartdata_safari" extra %}
    {% load_chart "pieChart" chartdata_ie "piechart_chartdata_ie" extra %}
<script>
$(function() {
	//load main graph
	$("#main_chart").load("{% url 'stats:extended:main_enviroment' %}");
	
    $('.ch-info .views').each(function(index, element) {
    	child = $(element).find('div');
        child.css('font-size', '1em');
        while( child.height() > $(element).height() ) {
            child.css('font-size', (parseInt(child.css('font-size')) - 1) + "px" );
        }
    });
    
    // Fix miss clicks
    $('.campaing_a').mousedown(function(e) {
    	window.location.href = $(this).attr('href');
    });
});
</script>    
    
{% endblock %}
{% block content %}

<div id="main_extra_head">
    <div id="main_chart" class="loading">
	    <img class="load" border="0" src="{{ STATIC_URL }}images/v1/loading.gif">
    </div>
    <div class="menu" id="sub_menu">
        {% include "stats/menus/main.html" %}
    </div>
    <div class="clear"></div>
</div>
<div id="global_data_div">
    <div class="submenu_item_five"><div class="number_submenu">{{ user_agents.Chrome|default:"0" }}</div><div class="text_submenu">Chrome</div></div>
    <div class="submenu_item_five"><div class="number_submenu">{{ user_agents.Firefox|default:"0" }}</div><div class="text_submenu">Firefox</div></div>
    <div class="submenu_item_five"><div class="number_submenu">{{ user_agents.Safari|default:"0" }}</div><div class="text_submenu">Safari</div></div>
    <div class="submenu_item_five"><div class="number_submenu">{{ user_agents.IE|default:"0" }}</div><div class="text_submenu">Internet Explorer</div></div>
    <div class="submenu_item_five"><div class="number_submenu">{{ user_agents.Other|default:"0" }}</div><div class="text_submenu">Otro</div></div>
</div> 
<div id="body_content">
	<h1>Campañas</h1>
				<ul class="ch-grid">
    {% for campaign in campaigns %}
					<li>
                        <a class="campaing_a" href="{% url 'stats:campaign_environment' campaign_id=campaign.id %}">
						<div class="ch-item" style="background-image: url('https://graph.facebook.com/{{ campaign.facebook_page_id }}/picture?return_ssl_resources=1&width=150&height=150'); background-size:150px 150px;">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front" style="background-image: url('https://graph.facebook.com/{{ campaign.facebook_page_id }}/picture?return_ssl_resources=1&width=150&height=150'); background-size:150px 150px;"></div>
									<div class="ch-info-back">
										<img class="circle" src="https://graph.facebook.com/{{ campaign.facebook_page_id }}/picture?return_ssl_resources=1&width=150&height=150" width="150">
										<div class="views">{{ campaign.views }}</div>
										<p>Visita{{ campaign.views|pluralize }}</p>
									</div>	
								</div>
							</div>
						</div>
						<div class="name">{{ campaign.name }}</div>
    					</a>
					</li>
    {% endfor %}
				</ul>
    <div class="clear"></div>
</div>   

<div>
    <div class="two_blocks">
        <h1>Vistas por sistema operativo</h1>
        {% include_container "piechart_os_container" 300 '100%' %}
    </div>
    <div class="two_blocks">
        <h1>Vistas por navegador</h1>
        {% include_container "piechart_chartdata_browsers" 300 '100%' %}
    </div>
    <div class="four_blocks">
        <h2>Google Chrome</h2>
        {% include_container "piechart_chartdata_chrome" 200 '100%' %}
    </div>
    <div class="four_blocks">
        <h2>Mozilla Firefox</h2>
        {% include_container "piechart_chartdata_firefox" 200 '100%' %}
    </div>
    <div class="four_blocks">
        <h2>Apple Safari</h2>
        {% include_container "piechart_chartdata_safari" 200 '100%' %}
    </div>
    <div class="four_blocks">
        <h2>Internet Explorer</h2>
        {% include_container "piechart_chartdata_ie" 200 '100%' %}
    </div>
    <div class="clear"></div>
</div>

{% endblock %}